<title>{{title}}</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script >



<div class="jumbotron text-center">
    <h1>Welcome to autogame!</h1>
    <p>The world's first semi-automatic deterministic RPG</p>
    <a class="btn btn-primary" href="https://github.com/hclivess/BismuthProjects/blob/master/autogame/about.md" role="button">Learn More</a>
    <a class="btn btn-primary" href="https://github.com/hclivess/BismuthProjects/blob/master/autogame/leagues.md" role="button">League Details</a>
    <a class="btn btn-primary" href="/enemies" role="button">Enemies</a>
    <a class="btn btn-primary" href="/weapons" role="button">Weapons</a>
</div>


<div class="container">
<h2>Top Player:</h2>
<table class='table table-responsive'>
<tr>
    <th>Start block</th>
    <th>Game replay</th>
    <th>Game seed</th>
    <th>Hero experience</th>
    <th>Corpse inventory</th>
    <th>League</th>
</tr>

<tr>
    <td>{{top[0]}}
    <td><a href='/replay/{{top[1]}}'>{{top[1]}}</a>
    <td>{{top[2]}}
    <td>{{top[3]}}
    <td>{{top[4]}}
    <td><a href='/league/{{top[5]}}'>{{top[5]}}</a>
    </td>
</tr>
</table>

<h2>Finished Games:</h2>

<table class='table table-responsive'>
<tr>
    <th>Start block</th>
    <th>Game replay</th>
    <th>Game seed</th>
    <th>Hero experience</th>
    <th>Corpse inventory</th>
    <th>League</th>
</tr>

{% for line in all_finished %}
    <tr>
        <td>{{line[0]}}
        <td><a href='/replay/{{line[1]}}'>{{line[1]}}</a>
        <td>{{line[2]}}
        <td>{{line[3]}}
        <td>{{line[4]}}
        <td><a href='/league/{{line[5]}}'>{{line[5]}}</a>
    </td></tr>
{% end %}

</table>



<h2>Games in progress:</h2>

<table class='table table-responsive'>
<tr>
    <th>Start block</th>
    <th>Game replay</th>
    <th>Game seed</th>
    <th>Hero experience</th>
    <th>Hero inventory</th>
    <th>League</th>
</tr>

{% for line in all_unfinished %}
    <tr>
        <td>{{line[0]}}
        <td><a href='/replay/{{line[1]}}'>{{line[1]}}</a>
        <td>{{line[2]}}
        <td>{{line[3]}}
        <td>{{line[4]}}
        <td><a href='/league/{{line[5]}}'>{{line[5]}}</a>
    </td></tr>
{% end %}
</table>
</div>
