<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel = 'icon' href = 'static/zircodice.ico' type = 'image/x-icon' >
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
    <link rel='stylesheet' type='text/css' href='static/style_zircodice.css'>
    <meta http-equiv='refresh' content='60' >
</head>
<body class='bg'>

<h1>Welcome to ZircoDice</h1>
<div class ='container-fluid'>
<p>
    Please send any amount of coins lower than 100 to the address <strong>{{address}}</strong> and include the word '<strong>even</strong>' or '<strong>odd</strong>' in the OpenField data.
    You are betting on a random number from 0 to 9 the casino rolls. 0 is considered an even number. Every transaction has it's own roll to prevent abuse.
    If you win, you will receive 2x your bet. House returns 95% of your win minus fees. Payout happens after 10 blocks have passed.
    Last block was generated {{minutes_ago}} minutes ago.
</p>
</div>

<h1>Bets</h1>
<div class ='container-fluid'>
    <table style="width:100%">
  <tr>
    <th>Block Height</th>
    <th>Time</th>
    <th>Player</th>
    <th>Tx ID</th>
    <th>Rolled</th>
    <th>Amount</th>
    <th>Result</th>
    <th>Icon</th>
  </tr>

{%for entry in bet_rows%}
  <tr bgcolor={{entry['cell_color']}}>
    <td>{{entry['block_height']}}</td>
    <td>{{entry['time']}}</td>
    <td>{{entry['player']}}</td>
    <td>{{entry['txid']}}</td>
    <td>{{entry['rolled']}}</td>
    <td>{{entry['amount']}}</td>
    <td>{{entry['result']}}</td>
    <td><img src=/static/{{entry['icon']}}.png alt=''></td>
  </tr>
{%end%}
    </table>
</div>


<h1>Payouts</h1>

<div class ='container-fluid'>
    <table style="width:100%">
  <tr>
    <th>Block Height</th>
    <th>Time</th>
    <th>Player</th>
    <th>Tx ID</th>
    <th>Amount</th>
  </tr>

{%for entry in payout_rows%}
  <tr bgcolor={{entry['cell_color']}}>
    <td>{{entry['block_height']}}</td>
    <td>{{entry['time']}}</td>
    <td>{{entry['player']}}</td>
    <td>{{entry['txid']}}</td>
    <td>{{entry['amount']}}</td>
  </tr>
{%end%}
    </table>


</div>

<div class ='container'>
<table class='table table-responsive'>

    <tr bgcolor='white'><th>Statistics for the last 1000 bets</th>

    <tr bgcolor='#f1e3dd'><td>Player wins:</td><td>{{wins_total}} ({{win_percentage}}%)</td>
    <tr bgcolor='#f1e3dd'><td>Player losses: </td><td>{{losses_total}} ({{loss_percentage}}%)</td>
    <tr bgcolor='#f1e3dd'><td>Wins amount: </td><td>{{wins_amount}}</td>
    <tr bgcolor='#f1e3dd'><td>Losses amount: </td><td>{{losses_amount}}</td>
    <tr bgcolor='#f1e3dd'><td>House balance: </td><td>{{house_balance}}</td>

    <tr bgcolor='#f1e3dd'><td>Odds rolled: </td><td>{{odds_rolled}}</td>
    <tr bgcolor='#f1e3dd'><td>Evens rolled: </td><td>{{evens_rolled}}</td>

</table>
</div>

</body>
</html>

