

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Explorer</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script >'

</head>
<body>

<form action="/explorer/seek">
  First name:<br>
  <input type="text" name="query" value="test"><br>
  Last name:<br>
  <input type="submit" value="Submit">
</form>

    {%for key, value in data%}
    <table class='table table-responsive'>

        <tr bgcolor="#EAECEE">
            <th bgcolor="#F2F4F4">Block Height</th>
            <th bgcolor="#F2F4F4">Block Timestamp</th>
            <th bgcolor="#F2F4F4">Miner</th>
            <th bgcolor="#F2F4F4">Block Hash</th>
            <th bgcolor="#F2F4F4">Reward</th>
            <th bgcolor="#F2F4F4">Difficulty</th>
        </tr>
        <tr bgcolor="#EAECED">
            <td><a href="/explorer/height/{{key}}">{{key}}</a></td>
            <td>{{value['mining_tx']['timestamp']}}</td>


            <td><a href="/explorer/address/{{value['mining_tx']['recipient']}}">{{value['mining_tx']['recipient']}}</a></td>
            <td><a href="/explorer/hash/{{value['mining_tx']['block_hash']}}">{{value['mining_tx']['block_hash']}}</a></td>
            <td>{{value['mining_tx']['reward']}}</td>
            <td>{{value['mining_tx']['difficulty']}}</td>
        </tr>

            {%if value['transactions']%}
            <tr bgcolor="#EAECEE">
            <th bgcolor="#F2F4F4">Timestamp</th>
            <th bgcolor="#F2F4F4">Address</th>
            <th bgcolor="#F2F4F4">Recipient</th>
            <th bgcolor="#F2F4F4">Amount</th>
            <th bgcolor="#F2F4F4">Fee</th>
            <th bgcolor="#F2F4F4">Operation</th>
            <th bgcolor="#F2F4F4">Data</th>
            <th bgcolor="#F2F4F4">Txid</th>
            </tr>
            {%end%}

            {%for transaction in value['transactions']%}

                <tr>
                    <td>{{transaction['timestamp']}}</td>
                    <td><a href="/explorer/address/{{transaction['address']}}">{{transaction['address']}}</a></td>
                    <td><a href="/explorer/address/{{transaction['recipient']}}">{{transaction['recipient']}}</a></td>
                    <td>{{transaction['amount']}}</td>
                    <td>{{transaction['fee']}}</td>
                    <td>{{transaction['operation']}}</td>
                    <td>{{transaction['openfield']}}</td>
                    <td>{{transaction['signature'][:56]}}</td>
                <tr>
            {%end%}
        </tr>

    </table>
    {%end%}

<script>

$(document).ready(function() {
	$('[data-toggle="toggle"]').change(function(){
		$(this).parents().next('.hide').toggle();
	});
});

</script>

</body>


</html>